.workingHours-complaintModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index:10;
}

.workingHours-complaintModal-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #F5F7F8;
  border-radius: 10rpx 10rpx 5rpx 5rpx;
  box-shadow: #e7e6e4 0 0 10rpx;
}

.workingHours-complaintModal-content-title {
  height: 95rpx;
  line-height: 95rpx;
  text-align: center;
  position: relative;
}

.workingHours-complaintModal-content-close {
  position: absolute;
  right: 0rpx;
  top: 0rpx;
  width: 100rpx;
  height: 100rpx;
}

.workingHours-complaintModal-content-box {
  display: flex;
  flex-wrap: wrap;
  background: #F3F2F2;
  height: 456rpx;
  padding-top: 20rpx;
  overflow-y: scroll;
}

.workingHours-complaintModal-content-box-list {
  width: 161rpx;
  height: 84rpx;
  line-height: 84rpx;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0rpx 3rpx 5rpx 0rpx rgba(169, 169, 170, 0.32);
  border-radius: 8rpx;
  margin-left: 20rpx;
  text-align: center;
  color: #24282A;
  font-size: 29rpx;
  margin-bottom: 23rpx;
}

.workingHours-complaintModal-content-box-list-click {
  width: 161rpx;
  height: 84rpx;
  line-height: 84rpx;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0rpx 3rpx 5rpx 0rpx #0099FF;
  border-radius: 8rpx;
  margin-left: 20rpx;
  text-align: center;
  color: #0099FF;
  font-size: 29rpx;
  margin-bottom: 23rpx;
}

.workingHours-complaintModal-content-timeBox {
  background: #fff;
  color: #272B2D;
  font-size: 29rpx;
}

.workingHours-complaintModal-content-box-title {
  margin-top: 52rpx;
}

.workingHours-complaintModal-content-box-flex {
  display: flex;
  margin-top: 29rpx;
  padding-bottom: 62rpx;
}

.workingHours-complaintModal-footer {
  display: flex;
  width: 100%;
  border: 1rpx solid #EEEEEE;
  height: 86rpx;
  line-height: 86rpx;
  text-align: center;
  background: #fff;
}

.workingHours-complaintModal-footer-left {
  width: 50%;
  border: 1px solid #EEEEEE;
  color: #797979;
}

.workingHours-complaintModal-footer-right {
  flex: 1;
  color: #0099FF;
}