.tabber-complaintModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tabber-complaintModal-content {
  position: absolute;
  position: relative;
  width: 80%;
  background: white;
  border-radius: 10rpx 10rpx 5rpx 5rpx;
  padding-top: 20rpx;
  box-shadow: #e7e6e4 0 0 10rpx;
}

.tabber-complaintModal-content-title {
  text-align: center;
  font-size:36px;
  font-weight:500;
  color:rgba(51, 51, 51, 1);
}

.tabber-complaintModal-content-tips {
  color: #666;
  font-size: 34rpx;
  margin-top: 10rpx;
  margin-left: 50rpx;
}

.tabber-complaintModal-content-textareaBox {
  border: 1rpx solid rgba(238, 238, 238, 1);
  padding: 20rpx;
  margin: 20rpx;
  border-radius: 4rpx;
  margin-left: 49rpx;
}

.tabber-complaintModal-content-textarea {
  width: 100%;
  font-size: 28rpx;
  max-height: 200rpx
}
.tabber-complaintModal-content-blued{
  margin-left: 49rpx;
  color: rgba(0, 153, 255, 1);
  font-size: 24rpx;
  margin-bottom: 47rpx;
}
.tabber-complaintModal-footer {
  width: 100%;
  display: flex;
  height: 80rpx;
  line-height: 80rpx;
  padding-bottom: 48rpx;
}
.tabber-complaintModal-footer-btn{
  width:500rpx;
  height:84rpx;
  background:rgba(0, 153, 255, 1);
  border-radius:4rpx;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
.tabber-complaintModal-footer-cancel {
  text-align: center;
}

.tabber-complaintModal-footer-cancel:first-child {
  border-right: 1rpx solid #f2f2f2;
}