.flowingWater{
  // margin-bottom: 200rpx;
  height: 100vh;
  // margin-bottom: 200rpx;
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 200rpx;
}
.time{
  height: 75rpx;
  line-height: 75rpx;
  // padding: 0 30rpsx;
  width: 100%;
  background: #fff;
}
.time-color{
  font-size: 26rpx;
  color: rgba(166, 166, 166, 1);
  margin-left: 30rpx;
}
.content{
  margin-top: 20rpx;
  height: 100%;
  background: #fff
}
.content-list{
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 25rpx 30rpx;
}
.content-list-right{
  display: flex;
}
.content-list-icon-lowerIcon {
  margin: auto;
  height: 30rpx;
  width: 30rpx;
  margin-right: 16rpx;
}
.content-list-icon-lowerIcon-image{
  height: 30rpx;
  width: 30rpx;
  background-size: contain;
}
.content-list-icon-rightIcon {
  margin: auto;
  height: 30rpx;
  width: 30rpx;
  margin-right: 16rpx;
}
.content-list-icon-rightIcon-image{
  height: 30rpx;
  width: 30rpx;
  background-size: contain;
}
.content-list-left{
  display: flex;
}
.content-list-left-week{
  color: rgba(111, 111, 111, 1);
  font-size: 28rpx;
}
.content-list-left-time{
  font-size: 20rpx;
  color: rgba(166, 166, 166, 1);
}
.content-list-right-title{
  color: rgba(111, 111, 111, 1);
  font-size: 28rpx;
}
.content-list-right-money {
  color: rgba(9, 159, 255, 1);
  font-size: 24rpx;
}
.content-list-right-list{
  margin-right: 47rpx;
}
.content-list-subclass{
  display: flex;
  justify-content: space-between;
  background: rgba(240, 240, 240, 1);
  padding: 30rpx 22rpx; 
  border-bottom: 1rpx solid rgba(231, 231, 231, 1);
}
.content-list-subclass-left{
  display: flex;
  color: rgba(106, 106, 106, 1);
  font-size: 26rpx;
  margin-left: 20rpx;
}
.content-list-subclass-left-title{
  color: rgba(139, 139, 139, 1);
  font-size: 22rpx;
  width: 93%;
}
.content-list-subclass-money{
  margin: auto 0;
  color: rgba(254, 99, 43, 1);
  font-size: 24rpx;
}
.checkbox{
  z-index: 20;
  margin-top: 10rpx;
  transform: scale(0.6, 0.6);
}
.icon-box{
  position: fixed;
  bottom: 206rpx;
  right: 31rpx;
  font-size: 20rpx;
  width:82rpx;
  height:82rpx;
  background:rgba(40, 187, 243, 1);
  box-shadow:0rpx 10rpx 15rpx 0rpx rgba(41, 187, 243, 0.45);
  border-radius:50%;
  color: #fff;
  text-align: center;
  z-index: 999;
}
.icon-box-icon {
  margin: 0 auto;
  height: 28rpx;
  width: 28rpx;
  margin-top: 10rpx;
}
.icon-box-icon-image{
  height: 28rpx;
  width: 28rpx;
  background-size: contain;
}
.icon-box-flex{
  margin:  0 auto;
}
.footer-box{
  position: fixed;
  bottom: 0rpx;
  left: 0rpx;
  width: 100%;
  display: flex;
  height: 118rpx;
  justify-content: space-between;
  text-align: center;
  background: #fff;
  z-index: 9999;
}
.allDel{
  width:182rpx;
  height:73rpx;
  line-height: 73rpx;
  background:rgba(0, 153, 255, 1);
  border-radius:10rpx;
  color: #fff;
  padding-left: 22rpx;
}
.close{
  width:145rpx;
  height:73rpx;
  line-height: 73rpx;
  background:rgba(237, 237, 237, 1);
  border:1rpx solid rgba(228, 228, 228, 1);
  border-radius:10rpx;
  color: #797979;
  margin-left: 33rpx;
}
.footer-box-flex{
  display: flex;
  margin: auto 0;
  padding-right: 22rpx;
}
.footer-box-left{
  margin:  auto 0;
  padding-left: 22rpx;
  color: rgba(147, 147, 147, 1);
  font-size: 28rpx;
}

.noData{
  text-align: center;
  color: rgba(131, 131, 131, 1);
  font-size: 28rpx;
  padding-top: 50%;
  width: 100%;
  background: #fff;
  height:calc(100% - 40%)
}
.goRecordWorkBox{
  width: 100%;
  margin-top: 20rpx;
}
.goRecordWork{
  margin: 0 auto;
  width:193rpx;
  height:54rpx;
  line-height: 54rpx;
  color: #fff;
  text-align: center;
  background:rgba(0, 153, 255, 1);
  border-radius:5rpx
}
.leftIcon {
  margin-right: 26rpx;
  height: 22rpx;
  width: 22rpx;
  background-size: cover;
}

.righticon {
  margin-left: 3rpx;
  height: 20rpx;
  width: 24rpx;
  display: inline-block;
  // background: url(../../assets/images/right.png) no-repeat no-repeat;
  background-size: cover;
}
.icon{
  display: inline-block;
  width:24rpx;
  height:24rpx;
  background:rgba(20, 146, 255, 1);
  border-radius:6rpx;
  font-size:20rpx;
  font-weight:500;
  text-align: center;
  line-height: 24rpx;
  color:rgba(255, 255, 255, 1);
}
.bulue{
  color: rgba(20, 146, 255, 1);
}