.flowingWater{
  // margin-bottom: 200rpx;
  height: 100%;
  // margin-bottom: 200rpx;
  width: 100%;
  overflow-y: scroll;
  padding-top: 75rpx;
  padding-bottom: 118rpx;
}
.time{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 110rpx;
  line-height: 110rpx;
  // padding: 0 30rpsx;
  width: 100%;
  background: #fff;
}
.time-color{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 32rpx;
  color: rgba(166, 166, 166, 1);
  margin-left: 30rpx;
}
.title_year{
  margin-right: 22rpx;
}
.content{
  margin-top: 60rpx;
  height: 100%;
  // background: #fff;
}

.list_item_item:not(:last-child),.list_item:not(:last-child){
  border-bottom: 2px solid #e9e9e9;
}
.content-list{
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;
  padding: 25rpx 30rpx;
}
.content-td{
  width:25%;
 justify-content: center;
 text-align: center;
}
.content-list-right{
  display: flex;
}
.content-list-icon-lowerIcon {
  // margin: auto;
  height: 30rpx;
  width: 30rpx;
  margin-right: 16rpx;
}
.content-list-icon-lowerIcon-image{
  height: 30rpx;
  width: 30rpx;
  background-size: contain;
}
.content-list-icon-rightIcon {
  // margin: auto;
  height: 30rpx;
  width: 30rpx;
  margin-right: 16rpx;
}
.content-list-icon-rightIcon-image{
  height: 30rpx;
  width: 30rpx;
  background-size: contain;
}
.content-list-left{
  Image{
    margin-top: 26rpx;
    margin-right: 10rpx;
  }
  display: flex;
  width: 50%;
  justify-content: flex-start
}
.content-list-left-week{
  color: rgba(111, 111, 111, 1);
  font-size: 32rpx;
}
.content-list-left-time{
  font-size: 26rpx;
  color: rgba(166, 166, 166, 1);
  text-align: left;
}
.content-list-right-title{
  color: rgba(111, 111, 111, 1);
  font-size: 32rpx;
}
.content-list-right-money {
  color: rgba(9, 159, 255, 1);
  font-size: 28rpx;
}
.content-list-subclass{
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
  padding: 30rpx;
}
.content-list-subclass:not(:last-child){
  border-bottom: 1rpx solid rgba(231, 231, 231, 1);
}
.content-list-subclass-left{
  &>.worker{
    display: flex;
    width: 60vw;
  }
  .checkboxitem{
    width: 60rpx;
    height: 100%;
    margin-left: -10rpx;
    position: relative;
  }
  display: flex;
  color: rgba(106, 106, 106, 1);
  font-size: 32rpx;
}
.content-list-subclass-left-title{
  width: 60vw;
  display: -webkit-box;
  -webkit-line-clamp:2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  
  color: rgba(139, 139, 139, 1);
  font-size: 26rpx;
  max-height: 70rpx;
  word-wrap: break-word;
  white-space: normal !important;
}
.content-list-subclass-left-list{
  color: rgba(139, 139, 139, 1);
  font-size: 26rpx;
  margin-top: 5rpx;
  max-height: 70rpx;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.content-list-subclass-money{
  margin: auto 0;
  color: rgba(254, 99, 43, 1);
  font-size: 30rpx;
  // width: 27%;
  text-align: right;
}
.content-list-subclass-borrow{
  margin: auto 0;
  color: #0099FF;
  font-size: 30rpx;
  // width: 27%;
  text-align: right;
}
.moneyicon{
  display: inline-block;
  margin-left: 5rpx;
  color: #A2A2A2;
  content: " ";
  height: 18rpx;
  width: 18rpx;
  border-width: 2px 2px 0 0;
  border-color: #A2A2A2;
  border-style: solid;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkboxitem>.checkbox{
  position: absolute;
  height: 50rpx;
  width: 50rpx;
  top:calc(50% - 25rpx);
}
.checkbox{
  z-index: 20;
  transform: scale(0.6, 0.6);
}
.icon-box{
  position: fixed;
  bottom: 206rpx;
  right: 31rpx;
  font-size: 20rpx;
  width:90rpx;
  height:90rpx;
  background:rgba(40, 187, 243, 1);
  box-shadow:0rpx 10rpx 15rpx 0rpx rgba(41, 187, 243, 0.45);
  border-radius:50%;
  color: #fff;
  text-align: center;
  z-index: 999;
}
.icon-box-icon {
  margin: 0 auto;
  height: 28rpx;
  width: 28rpx;
  margin-top: 17rpx;
}
.icon-box-icon-image{
  height: 28rpx;
  width: 28rpx;
  background-size: contain;
}
.icon-box-flex{
  margin:  0 auto;
}
.footer-box{
  position: fixed;
  bottom: 0rpx;
  left: 0rpx;
  width: 100%;
  display: flex;
  height: 118rpx;
  justify-content: space-between;
  text-align: center;
  background: #fff;
  z-index: 9999;
}
.allDel{
  width:182rpx;
  height:73rpx;
  line-height: 73rpx;
  background:rgba(0, 153, 255, 1);
  border-radius:10rpx;
  color: #fff;
  text-align: center;
}
.close{
  width:145rpx;
  height:73rpx;
  line-height: 73rpx;
  background:rgba(237, 237, 237, 1);
  border:1rpx solid rgba(228, 228, 228, 1);
  border-radius:10rpx;
  color: #797979;
  margin-left: 33rpx;
}
.footer-box-flex{
  display: flex;
  margin: auto 0;
  padding-right: 22rpx;
}
.footer-box-left{
  margin:  auto 0;
  padding-left: 22rpx;
  padding-right: 50rpx;
  color: rgba(147, 147, 147, 1);
  font-size: 28rpx;
  height: 100%;
  line-height: 118rpx;
}
.noData-box{
  height: 100vh;
  margin-top: -95rpx;
}
.noData{
  text-align: center;
  color: rgba(131, 131, 131, 1);
  font-size: 28rpx;
  padding-top: 50%;
  width: 100%;
  background: #fff;
  height:calc(100% - 40%)
}
.goRecordWorkBox{
  width: 100%;
  margin-top: 20rpx;
}
.goRecordWork{
  margin: 0 auto;
  width:193rpx;
  height:54rpx;
  line-height: 54rpx;
  color: #fff;
  text-align: center;
  background:rgba(0, 153, 255, 1);
  border-radius:5rpx
}
.leftIcon {
  // margin-right: 15rpx;
  height: 20rpx;
  width: 20rpx;
  margin-left: 10rpx;
  margin-right: 10rpx;
  background-size: cover;
}

.righticon {
  margin-left: 10rpx;
  height: 20rpx;
  width: 20rpx;
  background-size: cover;
}
.icon{
  display: inline-block;
  width:30rpx;
  height:30rpx;
  margin-left: 10rpx;
  background:rgba(20, 146, 255, 1);
  border-radius:6rpx;
  font-size:20rpx;
  font-weight:500;
  text-align: center;
  line-height: 30rpx;
  color:rgba(255, 255, 255, 1);
  vertical-align: 12%;
}
.leadericon{
  vertical-align: 5rpx;
}
// .workericon{
//   margin-top:15rpx;
// }
.bulue{
  color: rgba(20, 146, 255, 1);
}
.busyBox {
  margin: auto;
  margin-top: 50%;
  text-align: center;
  color: rgba(131, 131, 131, 1);
  font-size: 28rpx;
}

.refresh {
  width: 193rpx;
  height: 54rpx;
  line-height: 54rpx;
  color: rgba(132, 132, 132, 1);
  font-size: 28rpx;
  border: 1rpx solid rgba(219, 219, 219, 1);
  border-radius: 5rpx;
  margin: 0 auto;
  margin-top: 33rpx;
}