.createProject-complaintModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.createProject-complaintModal-content {
  position: absolute;
  position: relative;
  width: 80%;
  background: white;
  border-radius: 10rpx 10rpx 5rpx 5rpx;
  box-shadow: #e7e6e4 0 0 10rpx;
}

.createProject-complaintModal-content-title {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #333333;
  position: relative;
  height:93rpx;
  line-height: 93rpx;
  background:rgba(247, 247, 247, 1);
  border-radius:10rpx 10rpx 0rpx 0rpx;
}

.createProject-complaintModal-content-colse{
  position: absolute;
  right: 0rpx;
  top: 0rpx;
  height: 100rpx;
  width: 100rpx;
}
.closeIcons{
  height: 25rpx;
  width: 25rpx;
  background-size: contain;
}
.createProject-complaintModal-content-tips {
  color: #666;
  font-size: 34rpx;
  margin-top: 20rpx;
  margin-left: 50rpx;
}

.createProject-complaintModal-content-textareaBox {
  border: 2rpx solid #eee;//部分手机1px/1rpx看不见
  padding: 20rpx;
  margin: 20rpx;
  border-radius: 4rpx;
  margin-left: 49rpx;
}

.createProject-complaintModal-content-textarea {
  width: 100%;
  font-size: 28rpx;
  max-height: 200rpx
}

.createProject-complaintModal-content-blued {
  margin-left: 49rpx;
  color:rgba(249,90,21,1);
  font-size: 24rpx;
  margin-bottom: 47rpx;
}

.createProject-complaintModal-footer {
  width: 100%;
  display: flex;
  height: 80rpx;
  line-height: 80rpx;
  padding-bottom: 48rpx;
}

.createProject-complaintModal-footer-btn {
  width: 500rpx;
  height: 84rpx;
  background: rgba(0, 153, 255, 1);
  border-radius: 4rpx;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.createProject-complaintModal-footer-cancel {
  text-align: center;
}

.createProject-complaintModal-footer-cancel:first-child {
  border-right: 2rpx solid #f2f2f2;
}