.wageStandard {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .at-input-number__input,
  .at-input-number input{
    color: red !important;
  }
}

.wageStandard-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 10rpx 10rpx 5rpx 5rpx;
  box-shadow: #e7e6e4 0 0 10rpx;
}

.wageStandard-content-heard{
  display: flex;
  justify-content: space-between;
  color: rgba(36, 39, 42, 1);
  font-size: 29rpx;
  height: 80rpx;
  line-height: 80rpx;
  background: #fff;
  border-bottom: 2rpx solid rgba(243, 242, 242, 1);
  // padding: 0 28rpx;
}
.wageStandard-content-heard-close{
  color: rgba(151, 150, 149, 1);
  font-size: 26rpx;
}
.wageStandard-content-heard-close,.wageStandard-content-heard-ok{
  padding: 0 30rpx;
}
.wageStandard-content-heard-ok{
  color: rgba(0, 153, 255, 1);
  font-size: 26rpx;
}
.wageStandard-content-listBox{
  margin: 30rpx;
  border: 1rpx solid #CCCBCB;
  box-shadow: 0rpx 3rpx 5rpx 0rpx rgba(163, 165, 166, 0.24);
  border-radius: 5rpx;
}
.wageStandard-content-listBox-list{
  display: flex;
  justify-content: space-between;
  font-size: 28rpx;
  margin: 0 27rpx;
  border-bottom: 2rpx solid rgba(246, 246, 246, 1);
  padding: 30rpx 0rpx;
  margin-right: 0rpx;
}
.wageStandard-content-listBox-list-title{
  color: rgba(151, 150, 149, 1);
  font-size: 28rpx;
  line-height: 30rpx;
}
.wageStandard-content-listBox-list-left{
  margin: auto 0;
}
.wageStandard-box{
  background: #fff;
}
.formula{
  // margin-top: 12rpx;
  background: #fff;
  // padding-bottom: 20rpx;
  // padding-bottom: 500rpx;
  border: 1rpx solid #CCCCCC;
  box-shadow: 1rpx 3rpx 5rpx 0rpx rgba(170, 170, 170, 0.24);
  border-radius: 5rpx;
  margin: 30rpx;
  padding: 15rpx;
  margin-right: 27rpx;
}
.formula-heard{
  width: 652rpx;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  padding: 27rpx 0rpx;
  color: rgba(151, 150, 149, 1);
  font-size: 28rpx;
}
.radio{
  color: rgba(35, 39, 41, 1);
  transform: scale(0.9, 0.9);
}
.workList{
  display: flex;
  justify-content: space-between;
  height: 97rpx;
  line-height: 97rpx;
  width: 652rpx;
  background: rgba(243, 241, 241, 1);
  margin: 0 auto;
  margin-bottom: 10rpx;
}
.workList-title{
  margin-left: 20rpx;
  color:rgba(1, 1, 1, 1);
  font-size: 28px
}
.workList-add {
  // margin-right: 20rpx;
  display: flex;
}

// .at-input-number__input, .at-input-number input{
//   color: red !important
// }
// .atInputNumber{
//   // color: red !important;
//   .at-input-number{
//     .at-input-number__input,
//     .at-input-number{
//       color: red !important;
//     }
//   }
// }
.atInputNumberInput{
  // background: red !important;
  color: red !important;
  .at-input-number__input{
    color: red !important;
  }
  .at-input-number{
    color: red !important;
  }
}

.red{
  color: red;
}

.atInputNumber{
  display: flex;
}
.atInputNumber-mr {
  display: flex;
  // margin-right: 10rpx;
}
.inputBox{
  height: 32rpx;
  width: 110rpx;
  color: red;
  text-align: center;
  border:2rpx solid rgba(118, 119, 119, 0.5);
  border-radius:2px;
  font-size: 26rpx;
  margin-top: 6rpx;
  border-radius: 8rpx;
}
.inputBox-Focus {
  height: 32rpx;
  width: 110rpx;
  color: #009AFF;
  text-align: center;
  border: 2rpx solid #009AFF;
  border-radius: 2px;
  font-size: 26rpx;
  margin-top: 6rpx;
  border-radius: 8rpx;
  // caret-color: transparent;
}
.inputBox-day-Focus {
  height: 32rpx;
  width: 110rpx;
  color: #009AFF;
  text-align: center;
  border: 2rpx solid #009AFF;
  border-radius: 2px;
  font-size: 26rpx;
  margin-top: 28rpx;
  border-radius: 8rpx;
  // caret-color: transparent;
}
.inputBox-day{
  height: 32rpx;
  width: 110rpx;
  // margin-right: 18rpx;
  // margin-left: 18rpx;
  color: red;
  text-align: center;
  // background:rgba(36, 40, 42, 0);
  border:2rpx solid rgba(118, 119, 119, 0.5);
  border-radius:2px;
  font-size: 26rpx;
  margin-top: 28rpx;
  border-radius: 8rpx;
}
.icon{
  color: rgba(36, 40, 42, 1);
  font-size: 36rpx;
  font-weight: bold;
}
.icon_left{
  padding: 0 20rpx 0 40rpx;
}
.icon_right{
  padding: 0 40rpx 0 20rpx;
}
.mt{
  margin-top: 20rpx !important;
}

.backgroundImg{
  background: rgba(0, 0, 0, 0.3);
  height: 42rpx;
  width: 100%;
}
.title{
  color: #2F3541;
  font-size: 30rpx;
  font-weight: 500;
  margin-left: 27rpx;
  margin-top: 58rpx;
  margin-bottom: 30rpx;
}
.addTitle{
  color: #2F3541;
  font-size: 30rpx;
  font-weight: 500;
  margin-left: 27rpx;
  margin-top: 30rpx;
  margin-bottom: 30rpx;
}
.btn{
  width: 694rpx;
  height: 79rpx;
  line-height: 79rpx;
  background: #009AFF;
  box-shadow: 1rpx 3rpx 5rpx 0rpx rgba(170, 170, 170, 0.24);
  border-radius: 10rpx;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  margin-bottom: 28rpx;
}
.closeBtn{
  width: 694rpx;
  height: 79rpx;
  line-height: 79rpx;
  background: #FFFFFF;
  border: 1rpx solid #CCCCCC;
  box-shadow: 1rpx 3rpx 5rpx 0rpx rgba(170, 170, 170, 0.24);
  border-radius: 10rpx;
  text-align: center;
  color: #A6A5A5;
  margin: auto;
}
.btnBox{
  width: 100%;
  margin: 0 auto;
}