.content{
  height: 100vh;
  background: #fff;
  padding: 60rpx;
  padding-bottom: 0rpx;
  padding-top: 0rpx;
  .at-input{
    margin-left: 0rpx;
  }
}

.footer{
  width: 100%;
  margin-top: 100rpx;
}
.footerBtn{
  width: 90%;
  text-align: center;
  height: 100rpx;
  line-height: 100rpx;
  margin:  0 auto;
  color: #fff;
  border-radius:48rpx;
  background: rgba(0, 153, 255, 1);
}
.from{
  background: #fff;
}
.title{
  // padding: 50rpx 30rpx;
  padding-top: 150rpx;
  font-size: 60rpx;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 40rpx;
}
.welCome{
  color: rgba(153, 153, 153, 1);
  font-size: 35rpx;
  margin-bottom: 130rpx;
}
.code{
  background:rgba(246, 246, 246, 1);
  width:170rpx;
  height:44rpx;
  line-height: 44rpx;
  color: rgba(41, 148, 255, 1) !important;
  font-size: 26rpx;
}
.codeInput{
  border-bottom: 1rpx solid #d6e4ef;
}