.notepadDetails{
  height: 100vh;
}
.time{
  font-size: 26rpx;
  color: #BEBEBE;
  padding-left: 40rpx;
  padding-top: 20rpx;
}
.content{
  color: #333333;
  font-size: 26rpx;
  padding: 20rpx 35rpx 20rpx 40rpx; 
  // min-height: 300rpx
}
.image{
  height: 138rpx;
  width: 138rpx;
  margin-left: 40rpx;
  // margin-right: 14rpx;
}
.footer{
  position: fixed;
  bottom: 20rpx;
  left: 0rpx;
  width: 100%;
}
.footer-box{
  display: flex;
  justify-content: space-between;
  padding-left: 30rpx;
  padding-right: 30rpx;
}
.footer-del{
  width:208rpx;
  height:80rpx;
  line-height: 80rpx;
  text-align: center;
  background:rgba(229, 229, 229, 1);
  border-radius:10rpx;
  color: #373737;
}
.footer-btn{
  width:450rpx;
  height:80rpx;
  color: #fff;
  text-align: center;
  line-height: 80rpx;
  background:rgba(0, 153, 255, 1);
  border-radius:10rpx;
}
.imageList{
  display: flex;
  // justify-content: space-around;
}
.image-image{
  height: 138rpx;
  width: 138rpx;
  // margin-left: 30rpx;
  // margin-right: 15rpx;
}