.foreman{
  height: 100%;
  padding-bottom: 200rpx;
  .at-input-number__input, .at-input-number input{
    color: red !important;
  }
}
.tabber {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  // padding-top: 15rpx;
  padding-bottom: 20rpx;
  color: rgba(47, 53, 65, 1);
  font-size: 28rpx;
  border:1px solid rgba(243, 243, 243, 1);
}

.tabber-list {
  height: 144rpx;
  width: 33%;
  text-align: center;
  // padding-top: 15rpx;
}
.tabber-list-click {
  height: 144rpx;
  // padding-top: 15rpx;
  width: 33%;
  text-align: center;
  background: rgba(243, 244, 245, 1);
  border-radius: 3px;
}

.tabber-list-image-dian {
  height: 44rpx;
  width: 44rpx;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 17rpx;
}
.tabber-list-image-dian-img {
  height: 44rpx;
  width: 44rpx;
  background-size: contain;
}
.tabber-list-image-bao {
  height: 44rpx;
  width: 44rpx;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 17rpx;
}
.tabber-list-image-bao-img {
  height: 44rpx;
  width: 44rpx;
  background-size: contain;
}
.tabber-list-image-jie {
  height: 44rpx;
  width: 44rpx;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 17rpx;
}
.tabber-list-image-jie-img {
  height: 44rpx;
  width: 44rpx;
  background-size: contain;
}
.tabber-list-box {
  margin: 0 auto;
  margin-top: 30rpx;
  // height: 99rpx;
  // margin-top: 30rpx;
  width: 76rpx;
  // background: rgba(243, 244, 245, 1);
  border-radius: 3px;
  padding: 5rpx;
  position: relative;
}

.projectName {
  margin-top: 18rpx;
  margin-bottom: 18rpx;
}

.publish-recruit-card {
  position: relative;
  background-color: white;
}
.publish-recruit-card-money{
  position: relative;
  background-color: white;
  margin-top: 20rpx;
}
.publish-list-item {
  display: flex;
  position: relative;
  width: 90%;
  height: 125rpx;
  line-height: 125rpx;
  margin-left: 30rpx;
  border-bottom: 1rpx solid #F1F1F1;
}

.pulish-list-title {
  width: 180rpx;
  display: block;
  text-align: justify;
  line-height: 125rpx;
  font-size: 30rpx;

  &::after {
    content: '.';
    width: 100%;
    display: inline-block;
    overflow: hidden;
    height: 0;
  }
}

.publish-list-input {
  position: relative;
  width: 100%;
  height: 125px;
  line-height: 125px;
  display: block;
  font-size: 30px;
  margin-left: 30px;
  text-align: right;

  .publish-input-list {
    position: relative;
    display: inline-block;
    margin-right: 20px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.block {
  display: inline-block
}

.money {
  margin-top: 18rpx;
}

.moneyList {
  display: flex;
  justify-content: space-between;
}

.publish-recruit-moneyList {
  position: relative;
  background-color: white;
  padding: 20rpx 39rpx;
  font-size: 26rpx;
  color: rgba(172, 172, 172, 1);
}

.moneyList-left-title {
  color: rgba(47, 53, 65, 1);
  font-size: 29rpx;
}

.moneyList-left-money {
  font-size: 29rpx;
  color: rgba(250, 7, 35, 1);
  margin: auto 0;
}

.newTime {
  margin-top: 18rpx;
}

.textareaList {
  margin-top: 18rpx;
  margin-bottom: 18rpx;
  textarea{
    z-index: 1;
  }
}

.publish-list-ditals {
  padding: 30rpx;
  font-size: 30rpx;
}

.textarea {
  padding-top: 20rpx;
  height: 100rpx !important;
  width: 100%;
  overflow-y: scroll;
}

.foreman-footer {
  width: 100%;
  height: 140rpx;
  position: fixed;
  bottom: 0rpx;
  left: 0rpx;
  // padding: 22rpx 0rpx 22rpx 26rpx;
  background: #ffffff;
  z-index: 10;
  // margin-top: 42rpx;
}
.foreman-footer-btn{
  display: flex;
  justify-content: space-between;
  margin: 21rpx 27rpx;
}
.footer-left {
  width: 387rpx;
  height: 91rpx;
  line-height: 91rpx;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  border: 2rpx solid rgba(0, 153, 255, 1);
  border-radius: 10rpx;
  color: rgba(0, 153, 255, 1);
}

.footer-right {
  width: 268rpx;
  height: 90rpx;
  line-height: 90rpx;
  text-align: center;
  background: rgba(0, 153, 255, 1);
  border-radius: 10rpx;
  color: #ffffff
}

.clear {
  clear: both;
}

.contractor {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 24rpx 27rpx;
  font-size: 29rpx;
  color: rgba(47, 53, 65, 1);
}

.radioList {
  display: flex;
  justify-content: space-between;
  width: 450rpx;
}

.measure {
  margin-top: 18rpx;
}

.borrowing {
  margin-top: 18rpx;
}

.borrowing-Radio {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 26rpx;
  color: rgba(47, 53, 65, 1);
  padding-bottom: 20rpx;
}

.borrowing-Radio-list{
  transform: scale(0.8, 0.8);
}
.radioList-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 10rpx;
}
.borrowing-publish-list-item {
  display: flex;
  position: relative;
  width: 90%;
  height: 100rpx;
  line-height: 100rpx;
  margin-left: 30rpx;
}

.borrowing-pulish-list-title {
  width: 300rpx;
  display: block;
  line-height: 100rpx;
  font-size: 30rpx;
}

.borrowing-publish-list-input {
  position: relative;
  width: 50%;
  height: 100px;
  line-height: 100px;
  display: block;
  font-size: 30px;
  margin-left: 30px;
  text-align: right;

  .publish-input-list {
    position: relative;
    display: inline-block;
    margin-right: 20px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.workerBox {
  background: #ffffff;
  padding-left: 26rpx;
  padding-right: 52rpx;
}

.workerBox-list {
  display: flex;
  justify-content: space-between;
  padding-top: 40rpx;
}

.workerBox-list-title {
  color: rgba(47, 53, 65, 1);
  font-size: 29rpx;
  display: flex;
}

.workerBox-list-title-origin-box{
  margin-left: 10rpx;
}
.workerBox-list-title-origin {
  color: #F99E35;
  font-size: 24rpx;
  margin-left: 9rpx;
  margin-top: 4rpx;
}
.workerBox-list-title-origin-tips {
  color: rgba(47, 53, 65, 1);
  font-size: 24rpx;
  margin-bottom: 15rpx;
  margin-left: 133rpx;
}
.workerBox-list-title-origin-tips-list {
  color: rgba(47, 53, 65, 1);
  font-size: 24rpx;
  margin-bottom: 15rpx;
  margin-left: 10rpx;
}
.workerBox-list-title-origin-color{
  height: 19rpx;
  width: 19rpx;
  background: rgba(215, 239, 255, 1);
  display: inline-block;
  margin-right: 10rpx;
  border: 1rpx solid rgba(4, 151, 253, 1);
}
.whole {
  min-width: 96rpx;
  height: 42rpx;
  background: rgba(0, 153, 255, 0);
  border: 1rpx solid #0099FF;
  border-radius: 3rpx;
  text-align: center;
  color: #0099FF;
  margin-top: 10rpx;
}

.workerBox-change {
  display: flex;
  justify-content: space-between;
  font-size: 24rpx;
  color: rgba(150, 149, 149, 1);
}

.workerItem {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20rpx;
}
.workerItem-list {
  margin: 0 auto;
  position: relative;
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
  text-align: center;
  background: rgba(249, 163, 78, 1);
  border-radius: 3px;
  // margin-left: 27rpx;
  font-size: 26rpx;
  color: #ffffff;
  overflow: hidden;
}
.workerItem-list-origion {
  margin: 0 auto;
  position: relative;
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
  text-align: center;
  background: rgba(81, 206, 247, 1);
  border-radius: 3px;
  // margin-left: 27rpx;
  font-size: 26rpx;
  color: #ffffff;
  overflow: hidden;
}
.workerItem-list-violet {
  margin: 0 auto;
  position: relative;
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
  text-align: center;
  background: rgba(191, 103, 207, 1);
  border-radius: 3px;
  // margin-left: 27rpx;
  font-size: 26rpx;
  color: #ffffff;
  overflow: hidden;
}
.workerItem-list-bulued{
  margin: 0 auto;
  position: relative;
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
  text-align: center;
  background: rgba(97, 223, 226, 1);
  border-radius: 3px;
  // margin-left: 27rpx;
  font-size: 26rpx;
  color: #ffffff;
  overflow: hidden;
}
.workerItem-list-pink {
  margin: 0 auto;
  position: relative;
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
  text-align: center;
  background: rgba(212, 102, 170, 1);
  border-radius: 3px;
  // margin-left: 27rpx;
  font-size: 26rpx;
  color: #ffffff;
  overflow: hidden;
}
.workerItem-list-red{
  margin: 0 auto;
  position: relative;
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
  text-align: center;
  background: rgba(247, 45, 87, 1);
  border-radius: 3px;
  // margin-left: 27rpx;
  font-size: 26rpx;
  color: #ffffff;
  overflow: hidden;
}
.workerItem-list-click {
  margin: 0 auto;
  position: relative;
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
  text-align: center;
  background: url(../../../assets/images/click.png) no-repeat no-repeat;
  background-size: contain;
  border-radius: 3px;
  // margin-left: 27rpx;
  font-size: 26rpx;
  color: #ffffff;
  overflow: hidden;
}
.workerItem-list-first-click{
  margin: 0 auto;
  position: relative;
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
  text-align: center;
  border-radius: 3px;
  font-size: 26rpx;
  color: #F1F1F1;
  background: url(../../../assets/images/mine.png) no-repeat no-repeat;
  background-size: contain;
}
.workerItem-list-first {
  margin:  0 auto;
  position: relative;
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
  text-align: center;
  border-radius: 3px;
  font-size: 26rpx;
  color: rgba(241, 241, 241, 1);
  background: rgba(247, 45, 87, 1);
  background-size: contain;
}
.workerItem-ok{
  margin:0 auto;
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
  text-align: center;
  border-radius: 3px;
  font-size: 26rpx;
  border: 1rpx solid #ccc;
  background-size: contain;
}
.workerItem-ok-img{
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
}
.workerItem-list-icon {
  height: 23rpx;
  width: 23rpx;
  position: absolute;
  top: -10rpx;
  right: 7rpx;
  display: inline-block;
}
.workerItem-list-icon-img{
  height: 23rpx;
  width: 23rpx;
  background-size: contain;
}
.workerItem-list-title{
  color: rgba(75, 73, 73, 1);
  font-size: 26rpx;
  text-align: center;
  margin-top: 8rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100rpx;
  // margin-left: 27rpx;
}
.names{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.workerItem-add {
  margin:0 auto;
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
  text-align: center;
  border-radius: 3px;
  // margin-left: 27rpx;
  font-size: 26rpx;
  border: 1rpx solid #ccc;
}

.workerItem-del {
  margin:0 auto;
  height: 60rpx;
  line-height: 60rpx;
  width: 60rpx;
  text-align: center;
  border-radius: 3px;
  // margin-left: 27rpx;
  font-size: 26rpx;
  border: 1rpx solid #ccc;
}

.atDrawer{
  margin-bottom: 90rpx;
}

.atDrawer-heard{
  height: 100rpx;
  line-height: 100rpx;
  display: flex;
  justify-content: space-around;
  font-size: 29rpx;
  color: rgba(29, 30, 30, 1);
  border-bottom: 1rpx solid rgba(218, 219, 220, 1);
}
.atDrawer-heard-edit{
  height: 39rpx;
  line-height: 39rpx;
  width: 138rpx;
  background: rgba(0, 153, 255, 1);
  color: #ffffff;
  font-size: 26rpx;
  text-align: center;
  margin: auto 0 ;
}
.atDrawer-list{
  position: relative;
  height: 130rpx;
  margin:0 30rpx 0 38rpx;
  border-bottom: 1rpx solid rgba(218, 219, 220, 1);
}
.atDrawer-list-title{
  color: rgba(39, 39, 40, 1);
  font-size: 29rpx;
  margin-bottom: 19rpx;
  margin-top: 29rpx;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.atDrawer-list-flex{
  display: flex;
  justify-content: space-between;
  color: rgba(128, 130, 132, 1);
  font-size: 26rpx;
}

.atDrawer-list-flex-btn{
  height: 34rpx;
  width: 78rpx;
  line-height: 34rpx;
  color: rgba(39, 39, 40, 1);
  font-size: 26rpx;
  text-align: center;
  border:1rpx solid rgba(177, 177, 177, 1);
  margin-left: 8rpx;
}
.atDrawer-footer{
  // position: absolute;
  // bottom: 10rpx;
  // left: 0;
  height: 135rpx;
  border-top: 1px solid rgba(218, 219, 220, 1);
  line-height: 135rpx;
  width: 100%;
}
.atDrawer-footer-btn{
  width: 95%;
  height:90rpx;
  line-height: 90rpx;
  text-align: center;
  background:rgba(0, 153, 255, 1);
  border-radius:10rpx;
  color: #fff;
  margin: auto;
  margin-top: 25rpx;
}
.checkbox{
  transform: scale(0.6, 0.6);
}

.amountType{
  position:  absolute;
  right: 30rpx;
  top: 0rpx;
  color: rgba(47, 53, 65, 1);
  font-size: 29rpx;
}
.publish-list-input-amount{
  position: relative;
  width: 100%;
  margin-right: 125rpx;
  height: 125px;
  line-height: 125px;
  display: block;
  font-size: 30px;
  text-align: right;

  .publish-input-list {
    position: relative;
    display: inline-block;
    margin-right: 20px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.workerItem-list-icon-del{
  height: 23rpx;
  width: 23rpx;
  position: absolute;
  top: 0rpx;
  right: 7rpx;
  display: inline-block;
  background-size: contain;
}
.workerItem-list-icon-del-img{
  height: 23rpx;
  width: 23rpx;
  background-size: contain;
}
.ml20{
  margin-left: 20rpx;
}
.flex{
  display:  flex;
}
.atDrawer-heard-content{
  height: 100%;
  position: relative;
  padding-bottom: 100rpx;
}
.atDrawer-box{
  height: 90%;
  overflow: scroll;
  position: relative;
}
.listPosition {
  position: relative;
  margin: 7rpx;
  padding-top:10rpx;
}
.discipline {
  position: relative;
  margin: 7rpx;
  padding-top:10rpx;
  background: rgba(215, 239, 255, 1);
}
.discipline-del{
  position: relative;
  margin: 7rpx;
  padding-top:10rpx;
}
.publish-list-item-money {
  display: flex;
  position: relative;
  width: 90%;
  margin-left: 30rpx;
}
.pulish-list-title-money {
  // width: 200rpx;
  width: 100%;
  display: block;
  // text-align: justify;
  font-size: 30rpx;
  padding-top: 30rpx;

  &::after {
    content: '.';
    width: 100%;
    display: inline-block;
    overflow: hidden;
    height: 0;
  }
}
.publish-list-input {
  position: relative;
  width: 100%;
  height: 125px;
  line-height: 125px;
  display: block;
  font-size: 29px;
  margin-left: 30px;
  text-align: right;

  .publish-input-list {
    position: relative;
    display: inline-block;
    margin-right: 20px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}
.publish-list-input-money {
  position: relative;
  width: 100%;
  height: 125px;
  line-height: 125px;
  display: block;
  font-size: 30px;
  // margin-left: 30px;
  text-align: right;
  margin-top: 20rpx;
  color: red;
  width: 200rpx;
  .publish-input-list {
    position: relative;
    display: inline-block;
    margin-right: 20px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}
.mt10 {
  margin-top: 10rpx;
  color: rgba(195, 195, 195, 1);
  font-size: 26rpx;
}

.addIcon{
  height: 25rpx;
  width: 25rpx;
  background-size: contain;
  margin-right: 10rpx;
}
.noText{
  text-align: center;
  margin-top: 50rpx;
  color: rgba(195, 195, 195, 1);
}

.project-icon{
  position: absolute;
  right: 10rpx;
  top: 30rpx;
  height: 43rpx;
  width: 43rpx;
  background-size: contain;
}
.blued{
  color: rgba(0, 153, 255, 1);
}
.groupIcon{
  position: absolute;
  bottom: -15rpx;
  left: -5rpx;
  width: 100rpx;
  height: 20rpx;
}
.rightIcons {
  height: 25rpx;
  width: 25rpx;
  background-size: contain;
}

.rightIconsBox{
  line-height: 125rpx;
  height: 125rpx;
  margin-left: 10rpx;
}
.money-rightIconsBox{
  line-height: 125rpx;
  height: 125rpx;
  margin-left: 10rpx;
  margin-top: 18rpx;
}
.downIcons{
  height: 25rpx;
  width: 25rpx;
  background-size: contain;
  position: absolute;
  top: 41%;
  right: 0rpx;
}
.coverView{
  display: none;
}

.image{
  background: #fff;
  padding-bottom: 20rpx;
}