.flowingWaterDetails{
  height: 100vh;
  background: #FFFFFF;
}
.top{
  height: 295rpx;
  text-align: center;
  background: rgba(0, 153, 255, 1);
  width: 100%;
  text-align: center;
}
.top-name{
  color: #FFFFFF;
  font-size: 28rpx;
  padding-top: 30rpx;
}
.top-money-symbol{
  font-size: 80rpx;
}
.top-money{
  font-size: 115rpx;
  color: #FFFFFF;
  // margin-top: 27rpx;
  // margin-bottom: 29rpx;
}
.top-time{
  font-size: 28rpx;
  color: #FFFFFF;
}
.list-content{
  background: white;
  padding-bottom: 100rpx;
}
.list{
  padding-top: 15rpx;
  font-size: 30rpx !important;
}
.list-img-box{
  display: flex;
}
.list-img{
  width: 125rpx;
  height: 125rpx;
  margin: 28rpx 65rpx 28rpx 0;
}
.list-img-img{
  width: 125rpx;
  height: 125rpx;
}
.remarks{
  color: #343434;
  font-size: 30rpx;
  margin:22rpx 30rpx;
}
.remarks-details{
  margin-top: 21rpx;
  font-size: 26rpx;
  color: #717171;
  word-break:break-all;
  word-wrap: break-word;
}

.footer-box{
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0rpx;
  padding-bottom: 20rpx;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}

.footer-box-del{
  width:208rpx;
  height:80rpx;
  line-height: 80rpx;
  text-align: center;
  background:rgba(229, 229, 229, 1);
  border-radius:10rpx;
  color: #373737;
}
.footer-box-edit{
  width:452rpx;
  height:80rpx;
  line-height: 80rpx;
  text-align: center;
  background:rgba(0, 153, 255, 1);
  border-radius:10rpx;
  color: #FFFFFF;
}
.at-list::after{
  border: none;
}
.at-list__item-content{
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: none;
  -webkit-box-flex: 0;
  width: 200rpx;
  display: block;
  text-align: justify;
  letter-spacing:15rpx
  
}
.at-list__item .item-extra__info{
  overflow: inherit;
}
.wages{
  margin: 22rpx 30rpx;
  border-bottom: 1rpx solid rgba(237, 237, 237, 1);
}
.wages-title{
  font-size: 30rpx;
  color: #333;
  margin-bottom: 20rpx;
}
.remarks-title,
.wages-title{
  width: 150rpx;
  min-width: 150rpx;
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
}
.remarks-note,
.wages-note{
  display: flex;
  padding-bottom: 20rpx;
  font-weight: bold;
}
// .remarks-title::after,
// .wages-title::after{
//   display: inline-block;
//   content: '';
//   width: 100%;
// }

.wages-list{
  color: #646464;
  font-size: 26rpx;
  margin-bottom: 15rpx;
}
.wages-list-blued{
  color: #079BFF;
}
.list-itme{
  margin: 0 30rpx;
  height: 75rpx;
  line-height: 75rpx;
  font-size: 30rpx;
  display: flex;
  border-bottom: 1rpx solid #f4f4f4;
  overflow: hidden;
}
.list-itme-title{
  width: 150rpx;
  min-width: 150rpx;
  display: inline-block;
  text-align: justify;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
}
.list-itme-title:after {
  display: inline-block;
  content: '';
  padding-left: 100%;
}
.list-itme-content{
  display: inline-block;
  margin-left: 55rpx;
  color: rgba(113, 113, 113, 1);
  font-size: 28rpx;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}