.workOvertime-complaintModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.workOvertime-complaintModal-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #F5F7F8;
  padding-bottom: 50rpx;
  border-radius: 10rpx 10rpx 5rpx 5rpx;
  box-shadow: #e7e6e4 0 0 10rpx;
}

.workOvertime-complaintModal-content-title {
  height: 95rpx;
  line-height: 95rpx;
  position: relative;
  background: #fff;
  display: flex;
  justify-content: space-around;
}

.workOvertime-complaintModal-content-close {
  // position: absolute;
  // right: 30rpx;
  // top: 0rpx;
  color: rgba(0, 153, 255, 1);
  font-size: 26rpx;
}

.workOvertime-complaintModal-content-box {
  display: flex;
  justify-content: space-around;
  padding-top: 20rpx;
  padding-right: 20rpx;
}

.workOvertime-complaintModal-content-box-list {
  width:161rpx;
  height:84rpx;
  line-height: 84rpx;
  background:rgba(255, 255, 255, 1);
  box-shadow:0rpx 3rpx 5rpx 0rpx rgba(169, 169, 170, 0.32);
  border-radius:8rpx;
  margin-left: 20rpx;
  text-align: center;
  color: #24282A;
  font-size: 29rpx;
}

.workOvertime-complaintModal-content-box-add{
  display: flex;
  padding-top: 20rpx;
}
.workOvertime-complaintModal-content-box-list-click {
  width:161rpx;
  height:84rpx;
  line-height: 84rpx;
  background:rgba(255, 255, 255, 1);
  border:1rpx solid #0099FF;
  box-shadow: 0rpx 3rpx 5rpx 0rpx rgba(169, 169, 170, 0.32);
  border-radius:8rpx;
  margin-left: 20rpx;
  text-align: center;
  color: #0099FF;
  font-size: 29rpx;
}
.workOvertime-complaintModal-content-tips{
  color: #0099FF;
  font-size: 30rpx;
  text-align: center;
  padding-top: 36rpx;
  padding-bottom: 45rpx;
}
.workOvertime-complaintModal-content-timeBox{
  background: rgba(243, 242, 242, 1);
  padding-left: 20rpx;
  color: #272B2D;
  font-size: 29rpx;
}
.workOvertime-complaintModal-content-box-list:first-child{
  margin-left: 0rpx;
}
.workOvertime-complaintModal-content-box-title{
  margin-top: 52rpx;
}
.workOvertime-complaintModal-content-box-flex{
  display: flex;
  margin-top: 29rpx;
  padding-bottom: 62rpx;
}
.workOvertime-complaintModal-footer{
  display: flex;
  width: 100%;
  border: 1rpx solid #EEEEEE;
  height: 86rpx;
  line-height: 86rpx;
  text-align: center;
}
.workOvertime-complaintModal-footer-left{
  width: 50%;
  border: 1px solid #EEEEEE;
  color: #797979;
}
.workOvertime-complaintModal-footer-right{
  flex: 1;
  color: #0099FF;
}
.close{
  color: rgba(151, 150, 150, 1);
  font-size: 26rpx;
}
.title{
  color: rgba(36, 40, 42, 1);
  font-size: 29rpx;
}
.downIcons{
  height: 20rpx;
  width: 20rpx;
  background-size: cover;
}