.addnotepad{
  height: 100vh;
  width: 100%;
}
.footer{
  position: fixed;
  left: 0rpx;
  bottom: 0rpx;
  background: #EBEBEB;
  width: 100%;
}
.footer-box{
  padding: 38rpx 60rpx;
  display: flex;
  justify-content: space-between;
  color: #373737;
  font-size: 36rpx;
}
// .notepad-textarea{
//   height: 100%;
// }
.editTextarea{
  padding: 30rpx;
  padding-top: 10rpx;
  width: auto;
  word-break:break-all;
  word-wrap: break-word;
}
.textarea{
  padding: 30rpx;
  padding-top: 10rpx;
  width: auto;
  word-break:break-all;
  word-wrap: break-word;
}
.footer-box-left{
  display: flex;
  line-height: 67rpx;
  font-size: 36rpx;
  color: #373737;
}
.footer-box-left-img{
  margin: auto 0 ;
  height: 49rpx;
  width: 59rpx;
  margin-right: 24rpx;
}
.footer-box-left-img-img{
  height: 49rpx;
  width: 59rpx;
  background-size: contain;
}
.footer-box-right{
  width:160rpx;
  height:67rpx;
  line-height: 67rpx;
  color: #fff;
  text-align: center;
  background:rgba(0, 153, 255, 1);
  border:2rpx solid rgba(229, 229, 229, 1);
  border-radius:10rpx;
}
.time{
  color: #BEBEBE;
  font-size: 26rpx;
  padding-top: 20rpx;
  padding-left: 30rpx;
}

.image {
  display: flex;
  flex-direction: column;
}
.footerbtn{
  width: 100%;
  margin-top: 15rpx;
}

.footerbtn-btn{
  width: 95%;
  height:80rpx;
  line-height: 80rpx;
  background:rgba(0, 153, 255, 1);
  border-radius:10px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.busyBox{
  margin: auto;
  margin-top: 50%;
  text-align: center;
  color: rgba(131, 131, 131, 1);
  font-size: 28rpx;
}
.refresh{
  width:193rpx;
  height:54rpx;
  line-height: 54rpx;
  color: rgba(132, 132, 132, 1);
  font-size: 28rpx;
  border:2rpx solid rgba(219, 219, 219, 1);
  border-radius:5rpx;
  margin:  0 auto;
  margin-top: 33rpx;
}